[setup]
boxlength		= 100 
zstart			= 99
levelmin		= 9
levelmin_TF		= 9
levelmax		= 11
padding			= 8 
overlap			= 4
ref_center		= 0.635, 0.654, 0.645
ref_extent		= 0.04, 0.04, 0.07
align_top		= no
baryons			= no
use_2LPT		= yes
use_LLA			= no
periodic_TF		= yes


[cosmology]
Omega_m			= 0.3121
Omega_L			= 0.6879
w0			= -1.0
wa			= 0.0
Omega_b			= 0.0491
H0			= 67.51
sigma_8			= 0.815
nspec			= 0.9653
transfer		= camb_file
transfer_file		= planck_2018_transfer_out.dat 

[random]
seed[7]			= 12345
seed[8]			= 23456
seed[9]			= 34567
seed[10]		= 45678
seed[11]		= 56789
seed[12]		= 67890


[output]
##generic MUSIC data format (used for testing)
##requires HDF5 installation and HDF5 enabled in Makefile
#format			= generic
#filename		= debug.hdf5

##ENZO - also outputs the settings for the parameter file
##requires HDF5 installation and HDF5 enabled in Makefile
#format			= enzo
#filename		= ic.enzo

##Gadget-2 (type=1: high-res particles, type=5: rest)
format			= gadget2
filename		= ic_zoom1_2.dat

##Grafic2 compatible format for use with RAMSES
##option 'ramses_nml'=yes writes out a startup nml file
#format			= grafic2	
#filename		= ics_ramses
#ramses_nml		= yes

##TIPSY compatible with PKDgrav and Gasoline
#format			= tipsy
#filename		= ics_tipsy.dat

## NYX compatible output format
##requires boxlib installation and boxlib enabled in Makefile
#format			= nyx
#filename		= init

[poisson]
fft_fine		= yes
accuracy		= 1e-5
pre_smooth		= 3
post_smooth		= 3
smoother		= gs
laplace_order		= 6
grad_order		= 6

